h2 {
  width: 900px;
  margin: 30px auto 50px auto;
  text-align: center;
}
h4 {
  font-size: 20px;
  padding-bottom: 30px;
  text-align: center;
}
.base {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  width: 650px;
}

.holders {
  margin: 0 auto;
  width: 440px;

  display: flex;
  justify-content: space-between;

  margin-top: -130px;
}

.holders img {
  width: 34px;
  margin-left: -10px;
}

.deam {
  display: block;
  margin: 0 auto;
  width: 650px;
  margin-top: -390px;
  /* transition: transform 0.5s ease;
  transform: rotate(20)deg; */
}
.rigth_bloc {
  display: flex;
  flex-direction: column;
}
.dumbbell_rigth {
  width: 90px;
  margin-left: 60px;
}
.panse_rigth {
  width: 220px;
  margin-bottom: -115px;
}

.panse_left {
  width: 220px;
  margin-bottom: -140px;
}

.dumbbell_left {
  width: 60px;
  margin-left: 50px;
}
.cat {
  width: 90px;
  /* z-index: 1000; */
}

.left_bloc {
  /* margin-bottom: -120px; */
  margin-top: 40px;
  /* margin-top: -90px; */
}

.flex {
  margin: 0 auto;
  width: 620px;
  display: flex;
  justify-content: space-between;
  margin-top: -100px;
}

.imput_block {
  margin: 0 auto;
  margin-top: 140px;
  width: 420px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 22px;
}

input {
  width: 200px;
  padding: 9px 12px;
  border-radius: 7px;
  border: none;
  outline: none;
  font-size: 18px;
}

.btn {
  height: 40px;
  width: 120px;
  display: block;
  background-color: rgb(156, 97, 214);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgb(176, 121, 231);
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 18px;
  /* text-align: center; */
}
.modal button {
  margin: 0 auto;
}
